.portlet{
    border: 1px solid grey;
    border-radius: 5px;
    max-width: 90%;
    margin: 0 auto;
    box-shadow: 0 0 10px 10px rgba(134, 131, 131, 0.3);
}

.portlet__header,
.portlet__body,
.portlet__footer{
    padding: 1.5rem;
}

.portlet__body{
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}

.portlet__icon{
    font-size: 1.55rem;
    margin-right: 1rem;
}

.portlet__header{
    display: flex;
}

.portlet__title{
    margin: 0;
    color: rgb(43, 43, 44);
}

.portlet__footer{
    display: flex;
    justify-content: space-between;
}

.button--success{
    margin-right: 0.5rem;
}

